body {
  width: 100vw;
  height: max-content;
  position: relative;
  right: 0;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  background: linear-gradient(rgb(255, 255, 255), rgb(121, 160, 219));
  position: relative;
  right: 0;
}

.logo {
  text-align: center;
}

.chatbox {
  width: 70vw;
  height: 60vh;
  margin: auto;
  overflow-y: auto;
}

.sendmessage {
  width: 70vw;
  margin: auto;
}

.sendmessage > input {
  padding: 2px;
  width: 80%;
  height: 23px;
  display: inline-block;
  border: 2px solid green;
  border-radius: 7px;
}

.sendmessage > button {
  padding: 3px;
  border: 2px solid green;
  border-radius: 8px;
  width: 46px;
  height: 27px;
  display: inline-block;
}

.left {
  float: left;
  clear: both;
  margin: 12px 5px 5px 35px;
  padding: 8px;
  background: rgb(120, 240, 220);
  border-radius: 12px;
  max-width: 100%;
  width: 132px;
}

.right {
  float: right;
  clear: both;
  margin: 12px 35px 5px 5px;
  padding: 8px;
  background: #81e647;
  border-radius: 12px;
  max-width: 100%;
  width: 132px;
}

.joined {
  float: left;
  clear: both;
  margin: 12px 5px 5px 35px;
  padding: 8px;
  background: rgb(64, 20, 221);
  border-radius: 12px;
  max-width: 100%;
  width: 132px;
}

.chatleft {
  float: left;
  clear: both;
  margin: 12px 5px 5px 35px;
  padding: 8px;
  background: rgb(241, 150, 150);
  border-radius: 12px;
  max-width: 100%;
  width: 132px;
}

@media only screen and (max-width: 425px) {
  .sendmessage {
    width: 84vw;
  }
  .sendmessage > input {
    width: 74%;
  }
}
@media only screen and (max-width: 600px) {
  .right {
    margin: 12px npm 5px 5px 5px;
  }
  .left,
  .chatleft,
  .joined {
    margin: 12px 5px 5px 5px;
  }
}
